.friend-list {
    display: flex;
    width: 1200px;
    justify-content: space-around;
}

.friend-card {
    background-color: rgb(238, 238, 238);
    width: 200px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px black;
    text-align: center;
    transition: box-shadow linear 0.1s,  transform linear 0.1s;
}

.friend-card:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px 1px black;
    transition: box-shadow linear 0.1s,  transform linear 0.1s;
}

.friend-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.friend-card h2 {
    color: black;
    font-family: Calibri;
    font-weight: bold;
    text-shadow: 0 0 0;
    font-size: 20px;
    margin: 20px 5px 5px 0;
}